{{- /*  Initialize. */}}
{{- $managerRole := "" }}
{{- $teamRole := "" }}

{{- /* Get params. */}}
{{- with (.Get 0) }}
  {{- $managerRole = . }}
{{- else }}
  {{- with (.Get "role") }}
    {{- $managerRole = . }}
  {{- else }}
    {{- errorf "The %q shortcode requires a single positional argument for manger-role."}}
  {{- end }}
{{- end }}

{{- $manager := index (where site.Data.public.team "role" "like" $managerRole) 0 }}
{{- $members := slice }}
{{- $members = where site.Data.public.team "reports_to" "eq" $manager.slug }}
{{- with (.Get "team") }}
  {{- $members = where $members "role" "like" . }}
{{- end }}

<table>
    <thead>
        <th>Name</th>
        <th>Role</th>
    </thead>
    <tbody>
        {{- with $manager }}
        <tr>
          <td>{{ partial "member/with-team-link" . }}</td>
          <td>{{ .role | safe.HTML }}</td>
        </tr>
        {{- end }}
        {{- range $members }}
          <tr>
              <td>{{ partial "member/with-team-link" . }}</td>
              <td>{{ .role | safe.HTML }}</td>
          </tr>
        {{- end }}
    </tbody>
</table>
